WA_API_URL=https://graph.facebook.com/v25.0
WA_PH_ID=whatsapp-phone-id
VERIFY_TOKEN=whatsapp-cloud-api-webhook-verify-token
ACCESS_TOKEN=whatsapp-cloud-api-access-token

PORT=port-to-listen-on
DB_NAME=database.db # db file name
NODE_ENV=dev # dev test prod
LOG_LEVEL=debug # debug info warn error

